.form-container {
    width: 100%;
    max-width: 1380px;
    margin-bottom: 25px;
    /* transform: scaleY(0); */
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .29);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-open {
    transform: scaleY(1);
}

.form-closed {
    transform: scaleY(0);
}

input,
textarea,
select {
    margin-bottom: 25px;
    color: #f8f8f8;
    background-color: #2e3238;
    border: 1px solid #7a8491;
    border-radius: 4px;
}

input,
select {
    height: 30px;
    padding: 0 8px;
}

select,
.form button {
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    color: #98a0aa;
}

.button-red {
    background: linear-gradient(to right, #dd4242, #c93051);
}

.button-red:hover {
    background: linear-gradient(to right, #c03939, #a52843);
}

.button-green {
    background: linear-gradient(to right, #08c794, #03a1b6);
}

.button-green:hover {
    background: linear-gradient(to right, #069b73 40%, #027585);
}

textarea {
    height: 80px;
    padding: 8px;
    resize: vertical;
}

label {
    margin-bottom: 5px;
}

.names {
    display: flex;
    flex-direction: column;
}

.names div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.names div:first-child {
    margin-right: 20px;
}

.button-container button:first-child {
    margin-bottom: 20px;
}

.error {
    border: 2px solid #dd4242;
}

.error-msg {
    width: 100%;
    margin-top: 20px;
    padding: 8px 12px;
    text-align: center;
    background-color: #dd4242;
    border-radius: 8px;
}

@media screen and (min-width: 600px) {
    select {
        width: 50%;
    }

    .form button {
        width: calc(50% - 10px);
    }

    .button-container button:first-child {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    select,
    .form button {
        width: 150px;
    }

    .names {
        flex-direction: row;
    }
    
    .names div {
        width: calc(50% - 10px);
    }
}