.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    color: #fff;
    background-color: rgb(40, 52, 61);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 25px;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        margin: 0 auto;
    }
}