.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 99;
}

.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 400px;
    padding: 20px;
    background-color: #2e3238;
    z-index: 100;
}

.modal-overlay header,
.modal-overlay footer {
    display: flex;
    justify-content: space-between;
}

.modal-overlay footer h4 {
    font-size: 0.875rem;
    color: #acb5c0;
}

.description {
    margin: 25px 0;
    padding-right: 10px;
    overflow-y: auto;
    white-space: pre-line;
}

.modal-overlay button {
    background: linear-gradient(to right, #dd4242, #c93051);
}

@media screen and (min-width: 768px) {
    .modal-overlay {
        margin-left: -35%;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .modal-overlay {
        width: 710px;
        margin-left: -355px;
    }
}