.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.modal-overlay {
    position: fixed;
    top: calc(50% - 250px);
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 500px;
    max-height: 550px;
    padding: 15px;
    background-color: #fff;
}

.modal-overlay header,
.modal-overlay footer {
    display: flex;
    justify-content: space-between;
}

.description {
    margin: 25px 0;
}

.modal-overlay button {
    height: 30px;
    background-color: lightblue;
}