.ticket {
    position: relative;
    min-height: 210px;
    margin-top: 10px;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
}

.ticket-container {
    height: 484px;
}

.names {
    margin-bottom: 25px;
}

.names h4,
.ticket footer p {
    font-weight: bold;
}

.description {
    margin: 25px 0;
}

.ticket footer {
    display: flex;
    justify-content: space-between;
}

.ticket footer span {
    font-weight: normal;
}

.separator {
    margin-top: 8px;
}

.button-red {
    color: #fff;
    background-color: red;
}

.button-green {
    color: #fff;
    background-color: green;
}

.low {
    color: green;
}

.medium {
    color: orange;
}

.high {
    color: red;
}

.open {
    background-color: lightgreen;
}

.solved {
    background-color: lightblue;
}

.confirm-delete {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .89);
    border-radius: 10px;
}

.confirm-delete p {
    margin-bottom: 20px;
}

.confirm-delete button {
    min-width: 45px;
}

.confirm-delete button:first-child {
    margin-right: 15px;
}

.ticket-buttons {
    display: flex;
    justify-content: space-between;
}

.crop-title,
.crop-name,
.crop-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.crop-title {
    -webkit-line-clamp: 2;
}

.crop-name {
    -webkit-line-clamp: 1;
}

.crop-description {
    -webkit-line-clamp: 7;
}