.ticket {
    position: relative;
    min-height: 210px;
    margin-top: 20px;
    padding: 15px;
    background-color: #2e3238;
    cursor: pointer;
    font-size: 0.875rem;
}

.ticket:hover {
    background-color: #343940;
}

.ticket-solved {
    background-color: #2a2d33;
}

.ticket-container {
    height: 535px;
}

.ticket h3 {
    font-size: 1.25rem;
}

.names {
    margin-bottom: 25px;
}

.names h4 {
    margin-bottom: 2px;
}

.names h4,
footer h4 {
    color: #acb5c0;
}

.description {
    margin: 30px 0;
}

.ticket footer {
    display: flex;
    justify-content: space-between;
}

.separator {
    margin-top: 12px;
}

.button-red {
    background: linear-gradient(to right, #dd4242, #c93051);
}

.button-red:hover {
    background: linear-gradient(to right, #c03939, #a52843);
}

.button-green {
    background: linear-gradient(to right, #08c794, #03a1b6);
}

.button-green:hover {
    background: linear-gradient(to right, #069b73 40%, #027585);
}

.solved {
    background: linear-gradient(to right, #6acdf5, #5392f0);
    /* background: linear-gradient(to right, #6e40eb 40%, #8d2fcc); */
}

.solved:hover {
    background: linear-gradient(to right, #5cb4d6, #4478c7);
}

.confirm-delete {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 10px;
}

.confirm-delete p {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.confirm-delete button {
    width: 100%;
}

.confirm-delete button:first-child {
    margin-bottom: 20px;
}

.ticket-buttons {
    display: flex;
    justify-content: space-between;
}

.ticket-buttons button {
    min-width: 40px;
}

.crop-title,
.crop-name,
.crop-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.crop-title {
    -webkit-line-clamp: 2;
}

.crop-name {
    -webkit-line-clamp: 1;
}

.crop-description {
    -webkit-line-clamp: 7;
}

@media screen and (min-width: 1024px) {
    .button-container {
        flex-direction: row;
    }
    
    .confirm-delete button {
        width: 50%;
    }
    
    .confirm-delete button:first-child {
        margin-right: 20px;
        margin-bottom: 0;
    }
}