* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: transform 0s !important;
}

html,
body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.App {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 95px 25px 25px 25px;
  background-color: #383c42;
}